@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap");

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default padding */
ul[class],
ol[class] {
  padding: 0;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

/* Set core body defaults */
body {
  min-height: 100vh;

  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
}

/* Remove list styles on ul, ol elements with a class attribute */
ul[class],
ol[class] {
  list-style: none;
  list-style-type: none;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img {
  max-width: 100%;
  display: block;
}

/* Natural flow and rhythm in articles by default */
article > * + * {
  margin-top: 1em;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* here starts styling */
body {
  background-color: #000;
  min-width: 1550px;
  margin: auto;
  display: flex;
}
/* header css */
header {
  height: 0px;
  font-size: 24px;
  font-weight: bold;
}

nav {
  margin-top: 80px;
  height: 800px;
  width: 250px;
}

ul {
  margin: 30px 0;
}

header a {
  font-family: "Work Sans", serif;
  color: #fff;
  text-decoration: none;
}

header a:hover {
  color: #e12828;
}

/* make underline for navbar buttons */
header li {
  position: relative;
  line-height: 24px;
  list-style-type: none;
}

header li::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -5px;
  height: 1px;
  width: 0%;
  background-color: white;
  transition: 0.3s ease;
}

header li:hover::after {
  width: 100%;
}
